.custom-footer {
  background-color: #474d5c;
  color: #fff;
  padding: 20px;
}

.custom-footer h3 {
  font-size: 1.8em;
}

.custom-footer .footer_container {
  display: flex;
  flex-direction: row;
}

.footer_left {
  align-items: start;
}

.footer_right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-bottom: 20px;
}

.footer_right i {
  font-size: 30px;
  color: white;
  margin: 10px;
  transition: color 0.3s;
}

.footer_right i:hover {
  color: #4a299e;
}

.footer_left,
.footer_right {
  width: 100%;
  margin-bottom: 20px;
}

.footer_nav {
  list-style: none;
  padding: 0;
}

.footer_nav li {
  margin-bottom: 10px;
}

.footer_nav a {
  color: white;
  text-decoration: none;
}

.footer_nav a:hover {
  text-decoration: underline;
}

.logo-Footer {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.footer_bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .custom-footer {
    padding: 60px;
  }

  .footer_left {
    width: 50%;
  }

  .footer_right {
    width: 50%;
  }

  .footer_right i {
    font-size: 40px;
  }

  .footer_bottom {
    font-size: 1.5em;
  }

  .footer_left h3 {
    font-size: 3em;
  }
  .footer_nav {
    font-size: 2em;
  }
}
